<div class="row">
  <div class="col-12">
    <div class="image">
      <img [src]="recipe.imageURL" alt="" />
    </div>

    <h3 class="d-flex">
      <span class="mr-3">{{ recipe.name }}</span>
      <app-dropdown
        title="Manage Recipe"
        color="info"
        [options]="options"
        (select)="onSelect($event)"
      ></app-dropdown>
    </h3>
    <p>{{ recipe.description }}</p>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Ingredient Name</th>
          <th scope="col">Quantity</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let ingredient of ingredients; let i = index">
          <th scope="row">{{ i + 1 }}</th>
          <td>{{ ingredient.name }}</td>
          <td>{{ ingredient.quantity }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
